[url "git@github.com:curbol/"]
	insteadOf = https://github.com/curbol/
[url "git@github.com:sagansystems/"]
	insteadOf = https://github.com/sagansystems/
[url "git@github.com:gladly/"]
	insteadOf = https://github.com/gladly/
[user]
	name = curbol
	email = curtis.bollinger@gmail.com
[core]
	editor = nvim --wait
  excludesfile = ~/.gitignore
[pull]
	rebase = false
[fetch]
	prune = true
[maintenance]
	repo = /Users/curtis/code/noms
[push]
	autoSetupRemote = true
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE
[include]
	path = ~/.gitconfig_local
