# https://starship.rs/config/

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
${custom.gladmin}\
$line_break\
$character\
"""

# Gruvbox-ish color palette
# Coral Red: #cf5353
# Burnt Orange: #e57e43
# Golden Amber: #d18b16
# Olive Gold: #8d8b18
# Sage Green: #7ba77c
# Seafoam Teal: #789b8d
# Dusty Rose: #cd7b90

[directory]
style = "bold #789b8d"
read_only = " 󰌾"

[git_branch]
style = "bold #cd7b90"
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "

[git_status]
style = "bold #d18b16"

[git_commit]
tag_symbol = '  '

[custom.gladmin]
command = "gladmin config current"
when = "command -v gladmin"
format = "[$output]($style) "
style = "bold #e57e43"

[character]
success_symbol = "[❯](bold #8d8b18)"
error_symbol = "[❯](bold #cf5353)"
